@model IEnumerable<E_TicaretEntity.EntityFramework.OzellikTip>

<script src="~/Content/Admin/js/jquery-1.8.3.min.js"></script>
<script>
    $("#tipler").change(function myfunction() {
        var id = $(this).val();
        $.ajax({
            type: "GET",
            url: "/UrunOzellik/UrunOzellikDegerWidget",
            data: { tipID: id },
            success: function myfunction(veri) {
                $("#deger").empty();
                $("#deger").append(veri);
            },
            error: function myfunction() {
                alert("errorr");
            }
        });
    })
</script>
<div class="form-group">
    <label class="col-lg-2 control-label">OzellikTip:</label>
    <div class="col-lg-10">
        <select class="form-control m-bot15" name="OzellikTipID" id="tipler">
            @foreach (var tip in Model)
            {
                <option value="@tip.id">@tip.Adi</option>
            }
        </select>
    </div>
</div>


